* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 25px;
}

main {
	display: block;
	height: 175px;
}

header {
	border-bottom: 1px solid black;
}

h1 {
	font-weight: bold;
	color: #000;
}

.bold {
	font-weight: bold;
}

p {
	max-width: 600px;
}


li {
	margin-bottom: 5px;
}

footer {
	padding-top: 25px;
	border-top: 1px solid black;
}

footer a {
	float: left;
	margin: 5px;
}
.pet-image-container{
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding: 1rem;
}
.pet-image {
	height: 250px;
	border-radius: 50%;
}

.pet-message{
	font-size: 1.5rem;
	font-weight: bold;
	color: #1e2835;
}

.dashboard {
	float: left;
	padding: 20px;
}

.button-container {
	margin-top: 20px;
}

.button-container button {
	width: 150px;
	padding: .75rem;
	text-align: center;
	display: inline-block;
	font-size: 1.2rem;
	background-color: #1e2835;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, rgba(246, 246, 246, .1)0%, rgba(30, 40, 53, 0)66%);
	color: #fafafa;
}

.button-container button:hover {
	cursor: pointer;
	background-image: linear-gradient(45deg, rgba(246, 246, 246, 0.38)0%, rgba(30, 40, 53, 0)66%);
}

.stat {
	margin-top: 1rem;
}
.bar-container{
	width: 300px;
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-top: .5rem;
}
.box{
	height: 20px;
	width: 20px;
	outline: 1px solid gray;
	/* float: left; */
}
.box-fill-green{
	background-color: #53e753a2;
}
.box-fill-red{
	background-color: #ff6b6b;
}